<div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog text-dark"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-2">Nombre</div>
              <div class="col-10">
                <input
                  id="nombreEdit"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-2">Balance</div>
              <div class="col-10">
                <input
                  id="balanceEdit"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>

            <button
            
              class="btn btn-danger"
              id="editButton"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
  